
@media  only screen and (min-device-width: 768px) 
{
    .form-container {
      padding: 5%;
      background: #ffffff;
      border: 9px solid #f2f2f2;            
      max-width: 520px;
      margin: auto;
    }

}
h1, p 
{
  text-align: center;
}

.form_container input,.form_container textarea ,.form_container button
{
  width: 100%;
}    
textarea
{
  height: 200px;
}
.input-group{
  margin-top: 20px;
}
.career_form{
  margin:20px;
}
.submit{
  margin-left:40%;
}
.form_container{
  margin: 40px 0px;
}
.input-group .form-control {
    position: relative;
     z-index: 0; 
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.input-group .form-control:focus {
    z-index: 0 !important;
}